<app-search-box (searchUpdatedEvent)="searchValue.next($event)"></app-search-box>
<div id="studentResults" *ngIf="filteredStudents | async as filteredStudents; else loading">
    <ng-container *ngFor="let student of filteredStudents; last as isLast">
    <div class="studentRow">
    <div class="studentName">{{ student.name }}</div>
        <button class="studentActionButton" *ngIf="mode == eventTypes.CHECK_IN && !isCheckedIn(student)" mat-raised-button color="primary" (click)="checkIn(student)">Check In</button>
        <button class="studentActionButton" *ngIf="mode == eventTypes.CHECK_IN && isCheckedIn(student)" mat-button (click)="checkIn(student, true)">Check In</button>
        <button class="studentActionButton" *ngIf="mode == eventTypes.CHECK_OUT && isCheckedIn(student)" mat-raised-button color="accent" (click)="checkOut(student)">Check Out</button>
        <button class="studentActionButton" *ngIf="mode == eventTypes.CHECK_OUT && !isCheckedIn(student)" mat-button (click)="checkOut(student, true)">Check Out</button>
    </div>
    <mat-divider *ngIf="!isLast" class="studentDivider"></mat-divider>
    </ng-container>
    <div *ngIf="filteredStudents?.length == 0" id="noStudentsWarn">No matching students found!</div>
</div>
<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
