APP_SERVER_NAME=
APP_SUBDIR=/attendance
APP_URL=https://${APP_SERVER_NAME}${APP_SUBDIR}
APP_DEBUG=False
DB_HOST=mariadb
DB_USERNAME=laravel
DB_PASSWORD=password
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_TEAM=
