#dateRangeForm {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    margin-bottom: 20px;
}

th.mat-mdc-header-cell, td.mat-mdc-cell {
    padding: 0px 3px;
}
