<div id="mainPage">
  @if (uploading|async ) {
    <h1>Uploading...</h1>
    <mat-progress-bar mode="determinate" [value]="uploadProgress|async"></mat-progress-bar>
  } @else {
    <div id="uploadElement">
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
      <input (change)="onFileSelected($event)" #fileInput type="file">
      @if ((fileInput.files?.length ?? 0) > 0) {
        <p>{{fileInput.files![0].name}}</p>
      }
    </div>
    @if (validatedData|async; as data) {
      @if (data.length > 0) {
        <div id="previewData">
          @if (data.length > 10) {
            <button mat-raised-button color="primary" (click)="submit()" >Submit</button>
          }
          <div id="header-container">
            <div class="col-header">Student Name</div>
            <div class="col-header col-header-valid">Valid?</div>
          </div>
          <mat-list>
            @for (row of data ; track row; let isLast = $last) {
              <mat-list-item>
                <div class="import-item-row">
                  <div class="import-name">{{row.info.name}}</div>
                  @if (row.valid) {
                    <div class="import-valid-indicator import-is-valid">
                      <mat-icon>check_circle</mat-icon>
                    </div>
                  }
                  @if (!row.valid) {
                    <div class="import-valid-indicator import-is-invalid">
                      <mat-icon>cancel</mat-icon>
                    </div>
                  }
                </div>
              </mat-list-item>
              @if (!isLast) {
                <mat-divider></mat-divider>
              }
            }
          </mat-list>
          <button mat-raised-button color="primary" (click)="submit()" [disabled]="!isAnyInfoValid(data)">Submit</button>
        </div>
      } @else {
        <div id="fileReqs">
          <p>Note: The input CSV must follow these requirements:</p>
          <ol>
            <li>The first row of the input shall consist of headers.</li>
            <li>There shall be exactly one column with the 'Name' header.</li>
            <li>There shall be exactly one column with the 'Graduation Year' header.</li>
          </ol>
          @if (parseError | async; as error) {
            <p id="validationError">{{error}}</p>
          }
        </div>
      }
    } @else {
      <div id="fileReqs">
        <p>Note: The input CSV must follow these requirements:</p>
        <ol>
          <li>The first row of the input shall consist of headers.</li>
          <li>There shall be exactly one column with the 'Name' header.</li>
          <li>There shall be exactly one column with the 'Graduation Year' header.</li>
        </ol>
        @if (parseError | async; as error) {
          <p id="validationError">{{error}}</p>
        }
      </div>
    }
  }
</div>
