@use 'media';

#not-authorized-warn {
    margin-top: 20px;
}

#searchbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

app-search-box {
    flex-grow: 1;
}

#filterMenuContainer {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

mat-icon {
    $size: 30px;
    font-size: $size;
    width: $size;
    height: $size;
}

.student-profile {
    width: 100px;
    height: 100px;
    object-fit: contain;

    border-radius: 5px;
}

#studentResults {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;

    @include media.desktop {
        font-size: 1.4em;
        line-height: 1.4;
        font-weight: 200;
    }

    @include media.mobile {
        font-size: 1.6em;
        line-height: 1.6;
        font-weight: 300;
    }
}

.studentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    margin: 5px 0px;

    @include media.mobile {
        padding-left: 5px;
    }

    @include media.desktop {
        padding-left: 20px;
    }
}

.studentName {
    flex-grow: 1;
    min-width: 110px;
}

.studentActionButton {
    flex-shrink: 0;

    @include media.mobile {
        height: 50px;
        width: 120px;
    }
}

#noStudentsWarn {
    padding: 0px 16px;
}

.studentDivider {
    @include media.mobile {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
