<mat-card id="not-authorized-warn" *ngIf="notAuthorized()|async">
    <mat-card-content>
        Note: You are not authorized to perform this action. This view is read-only.
    </mat-card-content>
</mat-card>
<app-search-box (searchUpdatedEvent)="searchValue.next($event)"></app-search-box>
<div id="studentResults" *ngIf="filteredStudents | async as filteredStudents; else loading">
    <ng-container *ngFor="let student of filteredStudents[0].students; index as i; last as isLast">
        <div class="studentRow">
        <div class="studentName">{{filteredStudents[0].getQualifiedName(student)}}</div>
        <mat-spinner [diameter]="45" [strokeWidth]="8" *ngIf="filteredStudents[1][i]"></mat-spinner>
        <button class="studentActionButton"
                mat-raised-button
                color="{{actionColor()}}"
                [disabled]="cannotPerformAction(student)|async"
                (click)="performAction(student)">
                    {{actionText()}}
        </button>
        </div>
        <mat-divider *ngIf="!isLast" class="studentDivider"></mat-divider>
    </ng-container>
    <div *ngIf="filteredStudents[0]?.students?.length == 0" id="noStudentsWarn">No matching students found!</div>
</div>
<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
