@use 'media';

#not-authorized-warn {
    margin-top: 20px;
}

app-search-box {
    display: block;
    margin-top: 20px;
}

#studentResults {
    @include media.desktop {
        font-size: 1.4em;
        line-height: 1.4;
        font-weight: 200;
    }

    @include media.mobile {
        font-size: 1.6em;
        line-height: 1.6;
        font-weight: 300;
    }

    margin-top: 20px;

    width: 100%;

    box-sizing: border-box;
}

.studentRow {
    display: flex;

    align-items: center;

    @include media.mobile {
        padding-left: 5px;
    }

    @include media.desktop {
        padding-left: 20px;
    }

    justify-content: space-between;
    gap: 10px;

    margin: 5px 0px;
}

.studentName {
    flex-grow: 1;
}

.studentActionButton {
    @include media.mobile {
        height: 50px;
        width: 120px;
    }
}

#noStudentsWarn {
    padding: 0px 16px;
}

.studentDivider {
    @include media.mobile {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
