@if (notAuthorized()|async) {
  <mat-card id="not-authorized-warn">
    <mat-card-content>
      Note: You are not authorized to perform this action. This view is read-only.
    </mat-card-content>
  </mat-card>
}

<div id="searchbar">
  <app-search-box (searchUpdatedEvent)="searchValue.next($event)"></app-search-box>
  <button mat-fab color="primary" [matMenuTriggerFor]="filterMenu" aria-label="Filters">
    <mat-icon>tune</mat-icon>
  </button>
</div>

<mat-menu #filterMenu="matMenu">
  <div id="filterMenuContainer">
    <mat-slide-toggle [formControl]="showProfileImagesControl">Show profile images</mat-slide-toggle>
  </div>
</mat-menu>

@if (filteredStudents | async; as filteredStudents) {
  <div id="studentResults">
    @for (student of filteredStudents[0].students; track student; let i = $index; let isLast = $last) {
      <div class="studentRow">
        @if (showProfileImages|async) {
          <img class="student-profile" src="{{getProfileImageSrc(student)}}">
        }
        <div class="studentName">{{filteredStudents[0].getQualifiedName(student)}}</div>
        @if (filteredStudents[1][i]) {
          <mat-spinner [diameter]="45" [strokeWidth]="8"></mat-spinner>
        }
        <button class="studentActionButton"
          mat-raised-button
          color="{{actionColor()}}"
          [disabled]="cannotPerformAction(student)|async"
          (click)="performAction(student)">
          {{actionText()}}
        </button>
      </div>
      @if (!isLast) {
        <mat-divider class="studentDivider"></mat-divider>
      }
    }
    @if (filteredStudents[0]?.students?.length == 0) {
      <div id="noStudentsWarn">No matching students found!</div>
    }
  </div>
} @else {
  <app-spinner></app-spinner>
}
