@use 'media';

#exportCard {
    margin-top: 20px;
    font-size: 1.2em;
}

.formRow {
    display: block;
    margin: 10px 0px;
}

.formRow > mat-form-field {

    @include media.mobile {
        width: 100%;
    }

    @include media.desktop {
        width: 350px;
    }
}

#submitButton {
    margin-top: 5px;

    font-size: 1em;
    font-weight: 400;
    padding: 22px 30px;

    @include media.mobile {
        margin-top: 20px;
        flex-grow: 1;
    }
}
