APP_SERVER_NAME=
APP_SUBDIR=/attendance
APP_URL=https://${APP_SERVER_NAME}${APP_SUBDIR}
APP_DEBUG=false
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=attendance_api
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_TEAM=
