<mat-list-item>
  <div class="userItem">
    <div class="userName">{{user.name}}</div>
    @if ((loggedInUser | async)?.id != user.id) {
      <button mat-stroked-button [matMenuTriggerFor]="roleMenu" [matMenuTriggerData]="{user: user}">{{getRoleFromRoles(user.role_names)}}</button>
    } @else {
      <button mat-stroked-button matTooltip="Cannot modify self" disabled>{{getRoleFromRoles(user.role_names)}}</button>
    }
    <mat-menu #roleMenu="matMenu" (closed)="menuClosed()">
      <mat-radio-group (click)="$event.stopPropagation()" [formControl]="selectedRole" class="roleGroup">
        @for (role of roles | async; track role) {
          <mat-radio-button [value]="role" class="roleOption">{{role}}</mat-radio-button>
        }
      </mat-radio-group>
    </mat-menu>
  </div>
</mat-list-item>
