@use '@angular/material' as mat;
@use "media";

mat-list-item {
    @include media.mobile {
        @include mat.list-overrides((
            list-item-one-line-container-height: 72px
        ))
    }
}

.userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.userName {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.1em;

    margin-right: 15px;
}

.userRole {
    @include media.desktop {
        @include mat.theme((
            density: -5
        ));
    }

    @include media.mobile {
        @include mat.theme((
            density: -2
        ));
    }

    display:flex;
    min-width: 90px;
    max-width: 180px;
}

.roleGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.roleOption {
    margin: 5px 20px 5px 5px;
}
