@use "media";

#title {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#mainToolBar {
    justify-content: center;

    @include media.mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#mainToolBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    flex-grow: 1;

    @include media.desktop {
        max-width: 740px;
    }

    @include media.mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#mainPage {
    max-width: 740px;
    margin: auto;

    @include media.desktop {
        padding-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @include media.mobile {
        padding: 10px;
    }
}

#toolBarRightContainer {
    display: flex;
    align-items: center;
}

#userName {
    font-weight: 200;
    font-size: 0.85em;
    margin-right: 20px;

    @include media.mobile {
        display: none;
    }
}
