#studentNotFound {
    margin-top: 20px;
}

#mainDiv {
    padding-top: 20px;
}

div.nameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin-bottom: 10px;
}

#statsCard {
    margin-bottom: 20px;
}

div.statRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sessionTable {
    width: 100%;
}

#sessionsCard {
    margin-bottom: 20px;
}
