<ng-container *ngIf="state|async as state">
    <ng-container *ngIf="state == stateType.STUDENT_NOT_FOUND">
        <h1 id="studentNotFound">404: Student not found</h1>
    </ng-container>
    <ng-container *ngIf="state == stateType.STUDENT_LOADING">
        <app-spinner></app-spinner>
    </ng-container>
    <ng-container *ngIf="state == stateType.STUDENT_FOUND">
        <div id="mainDiv" *ngIf="student|async as student">
            <div class="nameRow">
                <mat-icon id="deletedIndicator" *ngIf="isDeleted()|async">delete</mat-icon>
                <h1>{{ student.name }}</h1>
                <div *ngIf="canDelete()|async"><a mat-raised-button color="primary" [routerLink]="['/', 'students', 'edit', student.id]">Edit</a></div>
            </div>

            <form [formGroup]="studentStatsOptions" id="statsOptionForm">
                <mat-form-field appearance="outline" id="dateInputField">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="since" placeholder="Start date">
                        <input matEndDate formControlName="until" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </form>

            <ng-container *ngIf="attendanceStats|async as stats">
                <h2>Statistics</h2>
                <mat-card id="statsCard">
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div class="statRow">
                                <div class="statName">Time Spent at Meetings</div>
                                <div class="statValue">{{stats.getTotalDuration()}}</div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="statRow">
                                <div class="statName">Meetings Attended</div>
                                <div class="statValue">{{stats.sessions.length}}</div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="statRow">
                                <div class="statName">Missed Checkouts</div>
                                <div class="statValue">{{stats.getMissedCheckouts()}}</div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                </mat-card>
            </ng-container>

            <h2>Attendance Sessions</h2>
            <mat-card id="sessionsCard">
            <mat-card-content>
                <table mat-table [dataSource]="attendanceSessions" id="sessionTable">
                    <ng-container matColumnDef="checkInDate">
                        <th mat-header-cell *matHeaderCellDef>Check In</th>
                        <td mat-cell *matCellDef="let session">{{session.session.checkin_date.toLocaleString(dateTimeShort)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="checkOutDate">
                        <th mat-header-cell *matHeaderCellDef>Check Out</th>
                        <td mat-cell *matCellDef="let session">{{session.session.checkout_date?.toLocaleString(dateTimeShort) ?? "-"}}</td>
                    </ng-container>
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef>Duration</th>
                        <td mat-cell *matCellDef="let session">{{session.getDurationStr()}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="sessionColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: sessionColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="attendanceSessions.pageSizeOptions"
                    [length]="attendanceSessions.getDataSize()"
                    (page)="attendanceSessions.paginate($event)"
                    showFirstLastButtons
                    aria-label="Select page of attendance sessions">
                </mat-paginator>
            </mat-card-content>
            </mat-card>

            <p *ngIf="registeredBy|async as registrar">Registered By: {{registrar.name}}</p>
        </div>
    </ng-container>
</ng-container>
