#studentNotFound {
    margin-top: 20px;
}

#mainDiv {
    padding-top: 20px;
}

div.nameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

div.nameRow > h1 {
    font-size: 2.5em;
    flex-grow: 1;
    margin-top: 5px;
}

div.nameRow > div {
    margin-top: 5px;
}

#deletedIndicator {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}


h2 {
    margin-bottom: 10px;
}

#statsCard {
    margin-bottom: 20px;
}

div.statRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sessionTable {
    width: 100%;
}

#sessionsCard {
    margin-bottom: 20px;
}

#statsOptionForm {
    margin-top: 20px;
}
