<div id="studentFilters">
    <div id="studentSearch">
        <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
        <input type="text" [formControl]="searchControl" autocomplete="off" >
    </div>
    <div id="actionToggle">
        <mat-button-toggle-group name="actionSelector" aria-label="Action" [formControl]="actionControl">
            <mat-button-toggle value="checkIn">Check In</mat-button-toggle>
            <mat-button-toggle value="checkOut">Check Out</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<div id="studentResults">
    <ng-container *ngFor="let student of filteredStudents | async ; last as isLast">
    <div class="studentRow">
        <div class="studentName">{{ student.name }}</div>
        <div class="studentActions">
            <button *ngIf="!isCheckedIn(student)" mat-raised-button color="primary" (click)="checkIn(student)">Check In</button>
            <button *ngIf="isCheckedIn(student)" mat-button (click)="checkIn(student, true)">Check In</button>
            <button *ngIf="isCheckedIn(student)" mat-raised-button color="accent" (click)="checkOut(student)">Check Out</button>
            <button *ngIf="!isCheckedIn(student)" mat-button (click)="checkOut(student, true)">Check Out</button>
        </div>
    </div>
    <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
</div>
<div *ngIf="(filteredStudents | async)?.length == 0" id="noStudentsWarn">No matching students found!</div>
