h1 {
    font-size: 2.5em;
}

h2 {
    margin-bottom: 10px;
}

#actions {
    padding-top: 30px;
    padding-bottom: 30px;

    margin-bottom: 20px;
}

button.meetingAction {
    font-size: 1.2em;
    padding: 10px 40px;;
}

#listTitleWrapper {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

#logTable {
    width: 100%;
}
