<ng-container *ngIf="{ state: state | async } as context">
<ng-container *ngIf="context.state == stateType.LOADING_STUDENT">
    <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="context.state == stateType.NO_STUDENT_FOUND">
    <h1>Student not found!</h1>
</ng-container>
<ng-container *ngIf="(context.state == stateType.NO_STUDENT_PROVIDED) || (context.state == stateType.LOADED)">
    <mat-card id="registerCard">
    <mat-card-content id="registerCardContent">
        <form [formGroup]="mainForm" (ngSubmit)="onSubmit(mainForm.value, formDirective)" #formDirective="ngForm">
            <div class="formRow">
                <mat-icon aria-hidden="true" fontIcon="person"></mat-icon>
                <mat-form-field apperance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="John Doe" type="text" formControlName="name" autocomplete="off">
                    <mat-hint>Names must be unique</mat-hint>
                    <mat-error *ngIf="mainForm.controls['name'].errors?.['required']">Name is required</mat-error>
                    <mat-error *ngIf="mainForm.controls['name'].errors?.['nameTaken']">A student with that name already exists</mat-error>
                </mat-form-field>
            </div>
            <div id="actionRow">
                <button *ngIf="editStudent|async as student" mat-raised-button color="warn" (click)="doDelete(student)">Delete</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!mainForm.valid" id="submitButton">Save</button>
            </div>
        </form>
    </mat-card-content>
    </mat-card>
</ng-container>
</ng-container>
