<ng-container *ngIf="{ state: state | async } as context">
<ng-container *ngIf="context.state == stateType.LOADING_STUDENT">
    <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="context.state == stateType.NO_STUDENT_FOUND">
    <h1>Student not found!</h1>
</ng-container>
<ng-container *ngIf="(context.state == stateType.NO_STUDENT_PROVIDED) || (context.state == stateType.LOADED)">
    <mat-card *ngIf="context.state == stateType.LOADED">
        <mat-card-header>Student Actions</mat-card-header>
        <mat-card-content>
            <div class="actionRow" *ngIf="editStudent|async as student">
                <ng-container *ngIf="this.isDeleted|async; else deleteActions">
                    <button  mat-raised-button color="primary" (click)="undoDelete(student)">Restore Student</button>
                </ng-container>
                <ng-template #deleteActions>
                    <button mat-raised-button color="warn" (click)="doDelete(student)">Delete Student</button>
                </ng-template>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
    <mat-card-header>Details</mat-card-header>
    <mat-card-content id="registerCardContent">
        <form [formGroup]="mainForm" (ngSubmit)="onSubmit(mainForm.value, formDirective)" #formDirective="ngForm" >
            <div class="formRow">
                <mat-icon aria-hidden="true" fontIcon="person"></mat-icon>
                <mat-form-field apperance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="John Doe" type="text" formControlName="name" autocomplete="off">
                    <mat-error *ngIf="mainForm.controls['name'].errors?.['required']">Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="formRow">
                <mat-icon aria-hidden="true">calendar_month</mat-icon>
                <mat-form-field appearance="fill">
                    <mat-label>Graduation Year</mat-label>
                    <input matInput [placeholder]="getGradYearPlaceholder()" [errorStateMatcher]="matcher" type="text" formControlName="graduation_year" autocomplete="off">
                    <mat-hint>Student name must be unique within any given graduation year</mat-hint>
                    <mat-error *ngIf="mainForm.errors?.['nameTaken']">A student with that name and graduation year already exists</mat-error>
                    <mat-error *ngIf="mainForm.controls['graduation_year'].errors?.['pattern']">Year must be numeric</mat-error>
                </mat-form-field>
            </div>
            <div class="actionRow" *ngIf="!(this.isDeleted|async)">
                <button mat-raised-button color="primary" type="submit" [disabled]="!mainForm.valid" id="submitButton">Save</button>
            </div>
        </form>
    </mat-card-content>
    </mat-card>
    <mat-card *ngIf="editStudent|async as student">
        <mat-card-header>Profile Image</mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="student.profile_image !== null; else addImage">
            <div id="student-profile-container" >
                <img id="student-profile" alt="student profile image" src="{{getProfileSrc(student)}}">
            </div>
            <div class="actionRow" *ngIf="!(this.isDeleted|async)">
                <button mat-raised-button color="warn" (click)="deleteProfileImage(student)">Delete Image</button>
            </div>
        </ng-container>
        <ng-template #addImage>
            <div class="actionRow" *ngIf="uploadStatus|async as status">
                <ng-container *ngIf="status.upload_in_progress; else startUploadButton">
                    <mat-progress-bar mode="determinate" value="{{status.progress}}"></mat-progress-bar>
                </ng-container>
                <ng-template #startUploadButton>
                    <input hidden #fileInput type="file" (change)="profileFileSelected(student, $event)">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Image</button>
                </ng-template>
            </div>
        </ng-template>
        </mat-card-content>
    </mat-card>
</ng-container>
</ng-container>
