@use 'media';


mat-card {
    margin-top: 20px;
    font-size: 1.4em;
}

mat-card-content {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.formRow > mat-form-field {
    flex-grow: 1;
}

.formRow > mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

#student-profile-container {
    width: 300px;
    height: 300px;
    background: #cccccc;

    border-radius: 5px;

    margin: auto;
}

#student-profile {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-radius: inherit;
}

#student-actions {
    margin-top: 10px;
}
