@switch (state | async) {
  @case (stateType.LOADING_STUDENT) {
    <app-spinner></app-spinner>
  }
  @case(stateType.NO_STUDENT_FOUND) {
    <h1>Student not found!</h1>
  }
  @case (stateType.NO_STUDENT_PROVIDED) {
    <ng-container *ngTemplateOutlet="student_details"></ng-container>
  }
  @case (stateType.LOADED) {
    <mat-card>
      <mat-card-header>Student Actions</mat-card-header>
      <mat-card-content>
        @if (editStudent|async; as student) {
          <div class="actionRow">
            @if (this.isDeleted|async) {
              <button  mat-raised-button color="primary" (click)="undoDelete(student)">Restore Student</button>
            } @else {
              <button mat-raised-button color="warn" (click)="doDelete(student)">Delete Student</button>
            }
          </div>
        }
      </mat-card-content>
    </mat-card>
    <ng-container *ngTemplateOutlet="student_details"></ng-container>
  }
}

<ng-template #student_details>
  <mat-card>
    <mat-card-header>Details</mat-card-header>
    <mat-card-content id="registerCardContent">
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit(mainForm.value, formDirective)" #formDirective="ngForm" >
        <div class="formRow">
          <mat-icon aria-hidden="true" fontIcon="person"></mat-icon>
          <mat-form-field apperance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="John Doe" type="text" formControlName="name" autocomplete="off">
            @if (mainForm.controls['name'].errors?.['required']) {
              <mat-error>Name is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="formRow">
          <mat-icon aria-hidden="true">calendar_month</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label>Graduation Year</mat-label>
            <input matInput [placeholder]="getGradYearPlaceholder()" [errorStateMatcher]="matcher" type="text" formControlName="graduation_year" autocomplete="off">
            <mat-hint>Student name must be unique within any given graduation year</mat-hint>
            @if (mainForm.errors?.['nameTaken']) {
              <mat-error>A student with that name and graduation year already exists</mat-error>
            }
            @if (mainForm.controls['graduation_year'].errors?.['pattern']) {
              <mat-error>Year must be numeric</mat-error>
            }
          </mat-form-field>
        </div>
        @if (!(this.isDeleted|async)) {
          <div class="actionRow">
            <button mat-raised-button color="primary" type="submit" [disabled]="!mainForm.valid" id="submitButton">Save</button>
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>
  @if (editStudent|async; as student) {
    <mat-card>
      <mat-card-header>Profile Image</mat-card-header>
      <mat-card-content>
        @if (student.profile_image !== null) {
          <div id="student-profile-container" >
            <img id="student-profile" alt="student profile image" src="{{getProfileSrc(student)}}">
          </div>
          @if (!(this.isDeleted|async)) {
            <div class="actionRow">
              <button mat-raised-button color="warn" (click)="deleteProfileImage(student)">Delete Image</button>
            </div>
          }
        } @else {
          @if (uploadStatus|async; as status) {
            <div class="actionRow">
              @if (status.upload_in_progress) {
                <mat-progress-bar mode="determinate" value="{{status.progress}}"></mat-progress-bar>
              } @else {
                <input hidden #fileInput type="file" (change)="profileFileSelected(student, $event)">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Image</button>
              }
            </div>
          }
        }
      </mat-card-content>
    </mat-card>
  }
</ng-template>
