@use 'media';

#searchbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#filterMenuContainer {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

mat-icon {
    $size: 30px;
    font-size: $size;
    width: $size;
    height: $size;
}

app-search-box {
    flex-grow: 1;
}

#edit-actions {
    margin-top: 25px;
    padding: 0px 16px;

    display: flex;
    justify-content: space-between;
}

.action-container {
    display: flex;
    gap: 10px;
}

.student-list-item {
    display: flex;
    height: 48px;
    align-items: center;

    padding: 0px 16px;

    text-decoration: underline;
}

.student-list-detail {
    @include media.text;

    display: flex;
    align-items: center;
    height: 100%;
}

.deletedIcon {
    margin-top: 4px;
    margin-right: 4px;
}
