<app-search-box (searchUpdatedEvent)="studentSearch.next($event)"></app-search-box>
<mat-list *ngIf="filteredStudents | async as filteredStudents ; else loading">
    <ng-container *ngFor="let student of filteredStudents ; last as isLast">
        <a class="student-detail-link" [routerLink]="['..', 'detail', student.id]">
        <mat-list-item>
            <div class="student-list-item">
                {{student.name}}
            </div>
        </mat-list-item>
    </a>
    <mat-divider *ngIf="!isLast" class="studentDivider"></mat-divider>
    </ng-container>
    <mat-list-item *ngIf="filteredStudents?.length == 0" id="noStudentsWarn">No matching students found!</mat-list-item>
</mat-list>
<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
